:root {
	--font-primary: "Prosto One", serif;
	/*
	font-weight: 400;
	font-style: normal;
	*/
	--font-title: "Nabla", system-ui
		/*
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"EDPT" 100,
		"EHLT" 12;
	*/
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.navbar {
	background: #672B00;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	width: 80px;
}

.navbar a {
	font-size: 40px;
	text-decoration: none;
	padding: 10px;
	text-align: center;
}

.container {
	background: #4F2100;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	padding: 20px;
	width: 100vw;
}

.container #psa-page {
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 95%;
	font-family: var(--font-primary);
	font-weight: 400;
	font-style: normal;
	color: #EB6302;
	text-shadow: 3px 3px 7px #D3570080;
}

.container h1 {
	font-size: 110px;
	text-align: center;
	word-wrap: break-word;
	font-family: var(--font-title);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"EDPT" 100,
		"EHLT" 12;
	text-transform: uppercase;
}

.home {
	font-size: 16px;
	text-align: center;
}

.question {
	font-size: 18px;
	text-align: center;
}

.results {
	font-size: 16px;
	text-align: center;
}

#footer {
	padding: 10px;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.footer-text {
	color: #D35700;
	font-size: 1rem;
	margin-top: auto;
}

.icons {
	color: #D35700;
	width: 40px;
	height: 25px;
	display: inline-block;
	line-height: 25px;
	font-size: 25px;
	text-align: justify;
}